<nav class="navbar navbar-user">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-user" id="navbarlogo" href="/recipe">Recipeasy</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="navtext navbar-right-user logoutBtn">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <form id="cms" action="/api/recipes/edit/" method="PUT">
        <div class="form-group">
            <label for="title">Recipe Name</label>
            <div class="row">
                <div class="col-sm-11">
                    <input value="{{recipe_data.recipe_name}}" type="text" class="form-control" id="editTitle">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn editBtn editSubmit" data-id="{{recipe_data.id}}">Submit</button>
                </div>
            </div>
            <br />
            <label for="body">Ingredients</label>
            {{#each recipe_data.Ingredients}}
            <div class="row">
                <div class="col-sm-11">
                    <input value="{{this.ingredient_info}}" data-ingredientID="{{this.id}}" type="text" class="form-control" id="editIngredient">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn editBtn editSubmit" data-id="{{this.id}}">Submit</button>
                </div>
            </div>
            {{/each}}
            <br />
            <label for="body">Instructions</label>
            {{#each recipe_data.Instructions}}
            <div class="row">
                <div class="col-sm-11">
                    <textarea type="text" class="form-control" data-ingredientID="{{this.id}}" id="editInstruction" rows="10">{{this.instruction_info}}</textarea>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn editBtn editSubmit" data-id="{{this.id}}">Submit</button>
                </div>
            </div>
            {{/each}}
            <br />
        </div>
    </form>
</div>