<div class="container">
	<div class="row">
        <h1 class="text-center"><span class="glyphicon glyphicon-menu-hamburger"></span></h1>
        <h2 class="text-center">Eat It</h2>
    </div>
</div>



<div class="container">
	<div class="col-xs-6 text-center">
		<div class="row">
            <h3>Ready</h3>
            <div id="ready-burgers">
            {{#each burger_data}}
                {{#unless this.devoured}}
                    <div class="well well-lg row">
                    <div class="col-xs-9 text-center">{{this.id}}. {{this.burger_name}}</div>
                    <div class="col-xs-3 text-center"><button class="eatit" data-id="{{this.id}}">Just Eat It</button></div>
                    </div>
                {{/unless}}
            {{/each}}
            </div>
        </div>
    </div>


    <div class="col-xs-6 text-center">
        <div class="row">
        <h3>Eaten</h3>
        <div id="eaten-burgers"> 
        {{#each burger_data}}
            {{#if this.devoured}}
                <div class="well well-lg row">{{this.id}}. {{this.burger_name}}</div>
            {{/if}}
        {{/each}}
        </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="col-xs-12 text-center">
		<div class="jumbotron">
            <div class="row">
                <h2>Add New Burger</h2>
                <form action="/burgers/create" method="POST">
                    <input type="text" id="input-burger-name" name="burger_name" class="col-xs-9" />
                    <input type="submit" id="submit-button" value="Submit" class="col-xs-3" />
                </form>
            </div>
        </div>
    </div>
</div>